<div class="cms-container">
	<div class="row customer-details">
		<div class="col-md-2">
			<img src="{{currentCustomer.imageUrl}}" class="photo">
			<!-- <img src="{{customer.imageUrl}}" class="photo"> -->
		</div>
		<div>
			<p><b>{{currentCustomer.firstName}} {{currentCustomer.lastName}}</b></p>
			<p>{{currentCustomer.address}}<br/>
			{{currentCustomer.city}} {{currentCustomer.state}}</p>
		</div>
	</div>

	<agm-map [latitude]="currentCustomer.lat" [longitude]="currentCustomer.log">
		<agm-marker [latitude]="currentCustomer.lat" [longitude]="currentCustomer.log"></agm-marker>
	</agm-map>
</div>	