
<div class="txt_cent wow fadeInUp animated cms-container" style="visibility: visible; animation-name: fadeInUp;">
	<h2>Company Overview</h2>
	<div class="creater">Created By: <b><i>Vikaskumar Kesari</i></b></div>
	<p>
		CitiusTech is a specialist provider of healthcare technology services and solutions,
		with strong presence across the globe. As a strategic partner to some of the world’s 
		largest healthcare organizations, CitiusTech plays a deep and meaningful role in accelerating 
		technology innovation and shaping the way healthcare is delivered to patients.</p>
	<p>
		CitiusTech works at the edge of digital transformation. It focuses on multiple areas of 
		digital technology, such as&nbsp; Business Intelligence, mobility &amp; IoT, Big Data, 
		cloud computing, predictive analytics &amp; data science. With cutting-edge technology 
		expertise, world-class service quality and a global resource base, CitiusTech consistently 
		delivers best-in-class solutions and an unmatched cost advantage to healthcare organizations 
		worldwide.</p>
	</div>