.photo {
	height: 100px;
  width: 100px;
}

.customer-name {
	background-color: #007bff
}
@media (min-width: 1200px){
.container {
    max-width: 1004px;
	}
}

[class*="col-"] {
	margin-bottom: 15px;
	padding-right: 30px;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}
.close{
	height: 25px;
}
/* .ui-dialog-content .ui-widget-content {
	border: 1px solid #D5D5D5;
	background: #ffffff;
}

.ui-dialog {
	position: fixed;
	padding: 0;
}

.ui-dialog .ui-dialog-titlebar {
	padding: .5em .75em;
	position: fixed;
}

.ui-dialog-titlebar .ui-widget-header {
	border: 1px solid #323232;
	background-color: #007bff !important;
	color: #cccccc;
	font-weight: bold;
} */

/* .ui-dialog-titlebar {
	background-color:;
} */
.customDialog .ui-widget-header .ui-dialog-title {
	background: #ffffff;
		height: auto;

			font-weight: 400;
			font-style: normal;
			color: black;
			font-size: 18px !important;
			line-height: 0;
}

.ui-dialog-titlebar.ui-widget-header.customDialog {
	background: green;
	color: black;
	box-shadow: none;
}

.customDialog .ui-dialog-titlebar {
  background: #ffffff;
}

p-dialog .ui-widget-content {
  background: #ffffff !important; 
}

.customDialog .ui-dialog-titlebar.ui-widget-header {
	background: green !important;
}
