<!-- <div class="row">
	<label for="Search Suggetion" class="col-md-2 col-form-label">Filter:</label>
	<input type="text" #firstName placeholder="First Name">
</div> -->
<div *ngIf="customerCard as customers">
	<div class="row">
		<div class="col-md-3 col-xs-3" *ngFor="let customer of customers">
			<div class="customer-name row border">{{customer.firstName}} {{customer.lastName}}</div>
			<div class="row border">
				<div class="col-md-5 col-xs-3">
					<img src="{{customer.imageUrl}}" class="photo">
				</div>
					<div class="col-md-7 col-xs-7">
						<div>{{customer.city}},</div>
						<div>{{customer.state}}</div>
						<div>
							<a [routerLink]="" (click)="popupModel(customer.firstName)">View Orders</a>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>

<p-dialog [(visible)]="display" [responsive]="true" class="pdialog" width="500" styleClass="customDialog">
	<p-header class='pheader'>{{customerName}}
		<a [routerLink]="" (click)="closePopUp()">
			<img src='assets/images/cross.png' align="right" class='close'>
		</a>	
	</p-header>
		<p-table [value]="currentCustomerOrders" [responsive]="true" class='ptable'>
			<ng-template pTemplate="header">
				<tr>
					<th>Product</th>
					<th>Date</th>
					<th>Quantity</th>
					<th>Unit Price</th>
					<th>Total</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-order>
				<tr>
					<td>{{order.productName}}</td>
					<td>{{order.date}}</td>
					<td>{{order.quantity}}</td>
					<td>{{order.unitePrice}}</td>
					<td>{{order.total}}</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="footer">
				{{orderTotal}}	
			</ng-template>
		</p-table>
</p-dialog>
