<div class="row">
	<label for="fname" class="col-sm-2 col-form-label">Filter: </label>
	<input type="text" #firstName placeholder="First Name" class="col-xs-4 col-md-2">
</div>

<div class="customer-name" *ngIf="searchResult?.length > 0">
	<div *ngFor="let customer of searchResult | filterBy: userFilter" class="suggestions">{{customer.firstName}} {{customer.lastName}}</div>
</div>

<div *ngIf="customerCard?.length else noUserFound">
	<div class="row">
		<div class="col-md-3 col-xs-3" *ngFor="let customer of customerCard | paginate: { itemsPerPage: 8, currentPage: p }">
			<!-- <div *ngFor="let item of customerCard | paginate: { itemsPerPage: 8, currentPage: p }"> -->
			<div class="grid-header border">{{customer.firstName}} {{customer.lastName}}
				<img src="assets/images/edit.jpeg" class="edit-logo">
			</div>
			<div class="row border">
				<div class="col-md-5 col-xs-3">
					<img src="{{customer.imageUrl}}" class="photo">
				</div>
					<div class="col-md-7 col-xs-7">
						<div>{{customer.city}},</div>
						<div>{{customer.state}}</div>
						<div>
							<a [routerLink]="" (click)="popupModel(customer.firstName)">View Orders</a>
						</div>
				</div>
			</div>
			<!-- </div> -->
		</div>
	</div>
</div>

<ng-template #noUserFound>
	No record found.
</ng-template>

<p-dialog [(visible)]="display" [responsive]="true" class="pdialog customDialog" width="550">
	<p-header class='pheader'>{{customerName}} {{lastName}}
		<a [routerLink]="" (click)="closePopUp()">
			<img src='assets/images/cross.png' align="right" class='close'>
		</a>	
	</p-header>
		<div class="row">
			<img src="{{photo}}" class="popup-photo">
			<div class="state">
				{{city}} {{state}}
			</div>
		<div class="popup-table">
			<p-table [value]="currentCustomerOrders" [responsive]="true" class='ptable order-pop table-striped'>
				<!-- <ng-template pTemplate="caption">
					<img src="assets/images/male.jpeg" class="popup-photo">
					<div class="col-md-5 col-xs-3">
						Ravi
					</div>
				</ng-template> -->
				<ng-template pTemplate="header">
					<tr class="table-heading">
						<th>Product</th>
						<th>Date</th>
						<th>Quantity</th>
						<th>Unit Price</th>
						<th>Total</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-order>
					<tr class="table-data">
						<td>{{order.productName}}</td>
						<td>{{order.date}}</td>
						<td>{{order.quantity}}</td>
						<td>{{order.unitePrice}}</td>
						<td>{{order.total}}</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="summary">
					<p class="order-total">{{orderTotal}}</p>
				</ng-template>
			</p-table>
		</div>
	</div>
</p-dialog>

<!-- <ul>
	<div *ngFor="let item of customerCard | paginate: { itemsPerPage: 5, currentPage: p }">asdf </div>
</ul> -->
<!-- <div class="footer"> -->
	<pagination-controls (pageChange)="p = $event"></pagination-controls>
<!-- </div> -->