.order {
	padding-top: 35px;
	padding-bottom: 20px;
}
tr.table-data {
	background-color: transparent;
	border: none;
	color: black;
}

.table-data td {
	border: none;
}

.ui-widget-header {
	border: none;
  background-color:transparent;
  color:black;
}

.order-total {
	/* padding-right: 203px; */
	padding-left: 65px;
	font-weight: bold;
	color: black;
	border-top: 2px solid black;
}
/* .ptable .ui-widget {
	width: 500px;
} */