/* .abc.ui-table {
	margin-top: 30px;
} */


.table-heading th {
	background-color: transparent;
	border: none;
	color: black;
	font-weight: 400;
}

tr.table-data {
	background-color: transparent;
	border: none;
	color: black;
}

/* .table-heading {
	margin-top: 30px;
} */

/* .ui-table-caption123{
	background-color: transparent;
}

.ptable .ui-table-caption.ui-widget-header {
	float: left;
	background-color: transparent !important;
} */

/* div.ui-table-caption.ui-widget-header {
	background-color: #007bff;
	float: left;
} */

.table-caption {
	float: left;
	color: #007bff;
	font-weight: 400;
}

/* .ui-widget-header {
	background-color: transparent !important;
	border: none;
} */

.order-total {
	font-weight: bold;
	color: black;
	float: right;
  padding-right: 200PX;
}

.cms-container {
	padding-top: 20px;
}

.ptable .ui-widget-header {
	border: none;
  background-color:transparent;
  color:black;
}

.link-color li > a.nav-link {
	color: black;
}

.folder {
	height: 20px;
	/* padding-left: 15px; */
}

h3 {
	padding-bottom: 15px;
}

@media screen and (max-width: 480px) {
	.order-total {
		padding-right: 289px !important;
		float: none;
	}
	/* .folder{
		padding-left: 0px;
	} */
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
	.order-total {
		padding-right: 65px;
	}
	/* .folder{
		padding-left: 0px;
	} */
}

/* @media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
	.order-total {
		padding-right: 65px;
	}
	 .folder{
		padding-left: 0px;
	} 
} */

/* .orders {
	padding-right: 1rem;
} */