.ui-table .ui-widget {
	padding-right:1rem;
}

.ui-table-wrapper .ui-table table {
	width: auto;
}

.table-heading th {
	background-color: transparent;
	border: none;
	color: black;
	font-weight: 400;
}

tr.table-data {
	background-color: transparent;
	border: none;
	color: black;
}

tr.table-data > td{
	border: none;
}

.ui-table-tbody  tr {
	background-color: transparent;
}

.ui-widget-header { 
	background-color: transparent;
}