<ul class="nav">
  <li class="nav-item" [routerLinkActive]="['active']">
		<a class="nav-link" routerLink="/map-view/customer-details/:customerID">Customers Details</a>
	</li>
  <li class="nav-item" [routerLinkActive]="['active']">
		<a class="nav-link" routerLink="/map-view/customer-orders">Customers Orders</a>
	</li>
  <li class="nav-item" [routerLinkActive]="['active']">
		<a class="nav-link" routerLink="/map-view/edit-customers">Edit Customers</a>
	</li>
</ul>
<router-outlet></router-outlet>