<div>
	<label for="fname" class="col-sm-2 col-form-label">Filter: </label>
	<input type="text" [(ngModel)]="userFilter.firstName" placeholder="First Name">
	<!-- <ul>
		<li *ngFor="let customer of customers | filterBy: userFilter">{{ customer.firstName }}</li>
	</ul> -->
		<p-table [value]="customers | filterBy: userFilter" 
						*ngIf="(customers | filterBy: userFilter)?.length else noUserFound"
						[paginator]="true" [rows]="5">
			<ng-template pTemplate="header">
				<tr>
					<th>First Name</th>
					<th>Location</th>
					<th>Orders</th>
					<th></th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-customer >
				<tr>
					<td>{{customer.firstName}}</td>
					<td>{{customer.address}},{{customer.city}},{{customer.state}}</td>
					<td>{{customer.orders}}</td>
					<td><button (click)="deleteCustomer(customer.customerID)">Delete</button></td>
				</tr>
			</ng-template>
		</p-table>
		<ng-template #noUserFound>
			No data found
		</ng-template>
</div>
<!-- <p-paginator [rows]="10" [totalRecords]="100"></p-paginator> -->

