<div>
	<label for="fname" class="col-form-label">Filter:</label>
	<input type="text" [(ngModel)]="userFilter.firstName" placeholder="First Name">
		<div class="customer-name" *ngIf="userFilter.firstName" >
			<div *ngFor="let customer of customers | filterBy: userFilter" class="suggestions">{{customer.firstName}} {{customer.lastName}}</div>
		</div>
		<p-table [value]="customers | filterBy: userFilter" 
						*ngIf="(customers | filterBy: userFilter)?.length else noUserFound"
						[responsive]='true'
						class="table-striped">
			<ng-template pTemplate="header">
				<tr class='table-heading bg-primary'>
					<th></th>
					<th>First Name</th>
					<th>Location</th>
					<th>Orders</th>
					<th></th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-customer >
				<tr class='table-data'>
					<td><img src="{{customer.imageUrl}}" class="photo"></td>
					<td>{{customer.firstName}} {{customer.lastName}}</td>
					<td>{{customer.city}},{{customer.state}}</td>
					<td>{{customer.orders}}</td>
					<td><button (click)="deleteCustomer(customer.customerID)" class="btn btn-danger">Delete</button></td>
				</tr>
			</ng-template>
		</p-table>
		<ng-template #noUserFound>
			No data found
		</ng-template>
</div>

