.table-heading th {
	background-color: transparent;
	border: none;
	color: black;
	font-weight: 400;
}

tr.table-data {
	background-color: transparent;
	border: none;
	color: black;
}

.ui-table-tbody  tr {
	background-color: transparent;
}


.customer-name {
	position: absolute;
	z-index: 1;
	width: 222px;
	max-height: 300px;
	background: #ffffff;
	overflow-y: auto;
}

.suggestions {
	padding: 10px;
	color: #007bff;
}

.suggestions:hover {
	background: #ffffff;
}