.table-heading th {
	background-color: transparent;
	border: none;
	color: black;
	font-weight: 400;
}

tr.table-data {
	background-color: transparent;
	border: none;
	color: black;
}

.ui-table-tbody  tr {
	background-color: transparent;
}

.customer-name {
	position: absolute;
	z-index: 1;
	width: 175px;
	max-height: 300px;
	background: #ffffff;
	overflow-y: auto;
}

.suggestions {
	padding: 10px;
	color: #007bff;
}

.search-suggestion {
	float: left;
  margin-right: 15px;
}

.suggestions:hover {
	background: #ffffff;
}

tr.table-data > td{
	border: none;
}

.ng-valid:not(form) {
	border-left: none;
}