<form [formGroup]='account' class="cms-container">
	<div class="form-group row">
		<label for="firstname" class="col-md-10 col-form-label">Firstname:</label>
		<div class="col-md-3">
			<input 	type='text' 
							name='firstName' 
							formControlName='firstName'
							class="form-control"
							placeholder='firstname'>	
			</div>
			<div class='has-error col-md-3'>
				<span *ngIf="(account.get('firstName').touched || account.get('firstName').dirty)" class="alert-danger">
					<span *ngIf="account.get('firstName').errors?.required">
						Please enter firstname.
					</span>	
				</span>
			</div>
	</div>
	<div class="form-group row">
		<label for="lastname" class="col-md-10 col-form-label">Last Name:</label>
		<div class="col-md-3">
			<input 	type='text' 
							name='lastName' 
							formControlName='lastName'
							class="form-control"
							placeholder='lastName'>	
			</div>
			<div class='has-error col-md-3'>
				<span *ngIf="(account.get('lastName').touched || account.get('lastName').dirty)" class="alert-danger">
					<span *ngIf="account.get('lastName').errors?.required">
						Please enter lastname.
					</span>	
				</span>
			</div>
	</div>
	<div class="form-group row">
		<label for="gender" class="col-md-10 col-form-label">Gender:</label>
		<div class="col-md-3">
			<input 	type='radio' 
							name='gender' 
							value='male'
							[checked]="true"
							formControlName='gender'>
							<label for="male">Male</label><br/>
			<input 	type='radio' 
							name='gender'
							value='female' 
							formControlName='gender'>
							<label for="female">Female</label>
			</div>
	</div>
</form>
<div class="clearfix multi-step-footer">
	<div class="float-left">
		<button type="button"
						class="btn btn-primary"
						(click)='cancel()'>Cancel</button>
	</div>
	<div class="float-right">
		<button type="button"
						class="btn btn-primary"
						(click)='accountCustomer()'
						[disabled]='!account.valid'>Next</button>
	</div>
</div>