<ul class="nav">
	<li class="nav-item" [routerLinkActive]="['active-link']">
			<a class="nav-link" routerLink="/customer-nav/customer-card-view">Card view</a>
	</li>
	<li class="nav-item" [routerLinkActive]="['active']">
		<a class="nav-link" routerLink="/customer-nav/customer-list-view">List view</a>
	</li>
	<li class="nav-item" [routerLinkActive]="['active']">
		<a class="nav-link" routerLink="/customer-nav/search-view">Search view</a>
	</li>
	<!-- <li class="nav-item" [routerLinkActive]="['active']">
		<a class="nav-link" routerLink="/map-view">Map view</a>
	</li> -->
	<li class="nav-item" [routerLinkActive]="['active']">
		<a class="nav-link" routerLink="/newcustomer-nav">New Customer</a>
	</li>
</ul>
<router-outlet></router-outlet>
