/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.cms-container {
	padding-left: 1rem;
}

.ng-invalid:not(form) {
	border-left: 5px solid #a94442;
}

.ng-valid:not(form) {
	border-left: 5px solid #42A948;
}

.photo {
	height: 50px;
  width: 80px;
}

tr.table-data {
	background-color: transparent;
	border: none;
	color: black;
}

.table-data td {
	border: none;
}

.ui-widget-header {
	border: none;
  background-color:transparent;
  color:black;
}

tr.table-data > td{
	border: none;
}

.customDialog .ui-widget-content {	
	background-color: #ffffff;
	color: black;
}

.customDialog .ui-widget-header{
	background-color: #007bff;
}

.ui-table-thead .ng-star-inserted > th {
	background-color: #007bff;
}

tr.table-data {
	background-color: #ffffff;
}

.ptable .ui-widget-header {
	border: none;
  background-color:transparent;
  color:black;
}

.ptable .ui-widget {
	width: auto;
}

.ptable.order-pop .ui-widget {
	width: 465px;
}

li {
	border-radius: 6px;
	display: block;
	color: #000;
	padding: 0px 10px;
	text-decoration: none;
}

li.active {
	background-color: #ffffff;
	color: black ;
	font-weight: bold;
}

.nav-link {
	color: black;
}

li.active .nav-link {
	color: black !important;
}

li.active-link {
	font-weight: bold;
}

ul.nav.nav-pills {
	padding-top: 20px;
	padding-left: 10px;
}

li.nav-pills{
	background-color: #F0F0F0;
	margin-right: 20px;
	padding-right: 50px
}

li.nav-pills.active {
	background-color: #1E90FF;
	color: black ;
	font-weight: bold;
	padding-right: 50px
}

.nav-link {
	padding-right: .5rem !important;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
}

.row {
	margin-right: 0px;
}

.multi-step-footer {
	position: fixed;
	bottom: 0;
	padding: 0 15px 10px;
	background: #fff;
	width: 100%;
}

.previous {
	padding-right: 10px;
}

/* .ui-paginator-pages .ui-state-active {
	border-color: #fff;
	background-color: #007bff;
} */

.ui-paginator-bottom.ui-widget-header {
	background-color: transparent;
	float: left;
	border: none;
}

	/* .ui-paginator-bottom .ui-paginator a {
		color: #007bff;
	} */

.ui-paginator-pages .ui-state-default {
	background-color: transparent;
	color: black;
}

.ui-paginator-page.ui-corner-all {
	border-radius: 0px;
}

.ui-paginator-pages .ui-state-active {
	border-color: #fff;
	background-color: #007bff;
}

.ui-paginator-bottom .ui-paginator-page .ui-paginator a{
	color: #007bff;
}
/* .ui-paginator-prev.ui-state-default {
	background-color: transparent;
} */
.ui-paginator-bottom .ui-paginator-element.ui-corner-all {
	border-radius: 0px;
}

.ui-autocomplete .ui-widget-content{
	background-color: #fff
}

 .loader {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
	cursor: none;
	opacity: .7;
	background: #000 no-repeat center;
}
